.calculator {
    width: 300px;
    background-color: #222;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

#display {
    height: 55px;
    color: white;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    background-color: #000;
    border-radius: 10px;
    margin-bottom: 15px;
    border: none;
}

.btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background-color: #333;
    color: white;
}

button:hover {
    background-color: #555;
    
}
#ans{
    width: 300px;
    margin-top: 10px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background-color: #333;
    color: white;
}
#ans:hover{
    background-color: #555;
}